<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12 text-right">
            <button class="btn btn-labeled btn-success" type="button" ng-click="inventory.addinventry()"> <span class="btn-label"><i class="fa fa-plus"></i>
               </span>add</button>
        </div>
        <div class="col-lg-12">
            <!-- Zero Configuration-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="row-border" datatable="ng">
                        <thead>
                            <tr>
                                <th>seller information</th>
                                <th>product information</th>
                                <th>Quantity</th>
                                <th>metrics( kg/ liter)</th>
                                <th>date of inventory</th>
                                <th>expiry date for product</th>
                                <th>status</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in inventory.productdata">
                                <td>{{x.sellerinfo}}</td>
                                <td>{{x.productsinfo}}</td>
                                <td>{{x.qty}}</td>
                                <td>{{x.metrices == "1" ? "Kg" : "Liter"}}</td>
                                <td>{{x.dateofinventory}}</td>
                                <td>{{x.expiredate}}</td>
                                <td>{{x.activestatus == "1" ? "Published" : x.activestatus == "2" ? "Removed" : "Draft"}}</td>
                                <td>
                                    <button class="btn btn-info" type="button" ng-click="inventory.editproducts(x._id)"> <i class="fa fa-pencil"></i> </button>
                                    <button class="btn btn-info" type="button" ng-click="inventory.delproducts(x._id)"> <i class="fa fa-trash"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Main panels-->