
<h3>Timeline</h3>
<ul class="timelineleft">
  <li>
    <div class="timeline-badge"><i class="fa fa-cogs"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo2">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo2}"> 
      DEC 28
        <paneltool tool-collapse="tool-collapse" class="pull-right"><a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo2 = !panelDemo2" class="ng-scope"> <em ng-show="panelDemo2" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo2" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo2" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/plant.png" alt="" />
        </div>
        <div class="col-xs-6">
          <p>Growthed black Gram</p>
        </div>
        </div>
        </div>
        <div class="panel-footer">25 Rs Kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <hr class="joinline">
</ul>

<!-- START timeline-->
<ul class="timeline">
  <li>
    <div class="timeline-badge"><i class="fa fa-caret-up"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo1">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo1}" style=""> 
      DEC 30
        <paneltool tool-collapse="tool-collapse" class="pull-right"> <a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo1 = !panelDemo1" class="ng-scope"> <em ng-show="panelDemo1" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo1" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo1" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/harvest.png" alt="" />
        </div>
        <div class="col-xs-6">
           <p>Harvest</p>
          <p>5000 kg</p>
        </div>
        </div>
        </div>
        <div class="panel-footer">2 Rs Kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <li>
    <div class="timeline-badge"><i class="fa fa-caret-up"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo3">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo3}" style=""> 
      Jan 01
        <paneltool tool-collapse="tool-collapse" class="pull-right"> <a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo3 = !panelDemo3" class="ng-scope"> <em ng-show="panelDemo3" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo3" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo3" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/remove.png" alt="" />
        </div>
        <div class="col-xs-6">
          <p>Jan 01</p>
          <p>3000 kg  Black gram divided</p>
          <p> stone removed</p>
          <p> packing</p>

          
        </div>
        </div>
                  </div>
        <div class="panel-footer">5 Rs  Kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <li>
    <div class="timeline-badge"><i class="fa fa-caret-up"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo4">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo4}" style="">
      JAN 05
        <paneltool tool-collapse="tool-collapse" class="pull-right"> <a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo4 = !panelDemo4" class="ng-scope"> <em ng-show="panelDemo4" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo4" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo4" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/remove.png" alt="" />
        </div>
        <div class="col-xs-6">
           <p>JAN 05</p>
          <p>2600 Kg checking and divide the quality wise</p>
          <p>skin removed </p>
          <p>Kg</p>
          
        </div>
        </div>
          
        </div>
        <div class="panel-footer">500 Rs   Kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <hr class="joinline">
</ul>
<ul class="timelineleft">
  <li>
    <div class="timeline-badge"><i class="fa fa-cogs"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo5">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo5}">
      JAN 05
        <paneltool tool-collapse="tool-collapse" class="pull-right"><a href="#" panel-collapse="" uib-tooltip="Collapse Pane5" ng-click="panelDemo5 = !panelDemo5" class="ng-scope"> <em ng-show="panelDemo5" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo5" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo5" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/quality.png" alt="" />
        </div>
        <div class="col-xs-6">
 		 <p>JAN 05 </p>
          <p>black gram</p>
          <p>Kg</p>          
        </div>
        </div>
        
        </div>
        <div class="panel-footer">55 Rs  Kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <li>
    <div class="timeline-badge"><i class="fa fa-cogs"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo6">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo6}" style="">
      JAN 05
        <paneltool tool-collapse="tool-collapse" class="pull-right"> <a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo6 = !panelDemo6" class="ng-scope"> <em ng-show="panelDemo6" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo6" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo6" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/quality.png" alt="" />
        </div>
        <div class="col-xs-6">
           <p>black gram</p>
           <p>kg</p>
          
          
        </div>
        </div>
        </div>
        <div class="panel-footer">60 Rs kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <li>
    <div class="timeline-badge"><i class="fa fa-cogs"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo7">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo7}" style="">
      Jan 05          
        <paneltool tool-collapse="tool-collapse" class="pull-right"> <a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo7 = !panelDemo7" class="ng-scope"> <em ng-show="panelDemo7" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo7" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo7" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/quality.png" alt="" />
        </div>
        <div class="col-xs-6">
           <p>broken gram</p>
          <p>Kg</p>
          
        </div>
        </div>
       </div>
        <div class="panel-footer">57 Rs Kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <li>
    <div class="timeline-badge"><i class="fa fa-cogs"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo8">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo8}" style="">
      Jan 05
        <paneltool tool-collapse="tool-collapse" class="pull-right"> <a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo8 = !panelDemo8" class="ng-scope"> <em ng-show="panelDemo8" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo8" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo8" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/quality.png" alt="" />
        </div>
        <div class="col-xs-6">
           <p>broken gram</p>
          <p>kg</p>
          
        </div>
        </div>
        </div>
        <div class="panel-footer">62 Rs kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <hr class="joinline">
</ul>
<ul class="timeline">
  <li>
    <div class="timeline-badge"><i class="fa fa-caret-up"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo9">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo9}" style=""> 
      Jan 10 
        <paneltool tool-collapse="tool-collapse" class="pull-right"> <a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo9 = !panelDemo9" class="ng-scope"> <em ng-show="panelDemo9" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo9" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo9" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/transport.png" alt="" />
        </div>
        <div class="col-xs-6">
           <p>Transport</p>
        </div>
        </div>
         </div>
        <div class="panel-footer">2 Rs kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <li>
    <div class="timeline-badge"><i class="fa fa-caret-up"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo10">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo10}" style="">
      Jan 17
        <paneltool tool-collapse="tool-collapse" class="pull-right"> <a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo10 = !panelDemo10" class="ng-scope"> <em ng-show="panelDemo10" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo10" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo10" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/packing.png" alt="" />
        </div>
        <div class="col-xs-6">
           <p>packing</p>
          <p> kg</p>
          
        </div>
        </div>
        </div>
        <div class="panel-footer">5 Rs kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
  <hr class="joinline">
</ul>
<ul class="timelineleft">
  <li>
    <div class="timeline-badge"><i class="fa fa-cogs"></i></div>
    <!-- START panel-->
    <div class="timeline-panel panel panel-default" id="panelDemo11">
      <div class="timeline-heading panel-heading panel-heading-collapsed" ng-class="{'panel-heading-collapsed':panelDemo11}">
      Jan 20
        <paneltool tool-collapse="tool-collapse" class="pull-right"><a href="#" panel-collapse="" uib-tooltip="Collapse Panel" ng-click="panelDemo11 = !panelDemo11" class="ng-scope"> <em ng-show="panelDemo11" class="fa fa-plus ng-no-animation"></em> <em ng-show="!panelDemo11" class="fa fa-minus ng-no-animation ng-hide"></em> </a></paneltool>
      </div>
      <div class="panel-wrapper collapse" uib-collapse="panelDemo11" aria-expanded="false" aria-hidden="true" style="height: 0px;">
        <div class="timeline-body panel-body">
        <div class="row">
        <div class="col-xs-6">
        <img src="app/img/packing.png" alt="" />
        </div>
        <div class="col-xs-6">
           <p>Broken gram	</p>
          <p>1 Kg</p>
          
        </div>
        </div>
        </div>
        <div class="panel-footer">69 Rs Kg</div>
      </div>
    </div>
    <!-- END panel--> 
  </li>
</ul>
